body {
    font-family: Arial, sans-serif;
    background: rgb(15,12,69);
background: linear-gradient(90deg, rgba(15,12,69,1) 0%, rgba(45,45,135,1) 41%, rgba(25,2,193,1) 100%);
  }
  
  h1, h2 {
    color: #fff; /* Cambiar el color del texto a blanco para mejor contraste */
    text-align: center;
  }
  
  table {
    width: 50%;
    margin: 20px auto;
    border-collapse: separate; /* Cambiar a 'separate' para permitir bordes redondeados */
    border-spacing: 0; /* Eliminar el espacio entre bordes */
    border-radius: 2px; 
    overflow: hidden;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #75757552;
    text-align: center;
    color: #fff; /* Cambiar el color del texto a blanco */
  }
  
  th {
    background-color: #ffffff5c; /* Fondo oscuro para el encabezado */
  }
  
  a {
    color: #d0d0d0; /* Color verde para los enlaces */
    text-decoration: none;
  }
  a:hover{
    color: rgb(234, 234, 234) !important;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 2px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Color del texto del label */
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button, .button {
    padding: 10px 15px;
    background: linear-gradient(45deg, #681abc, #2b16a0);
    color: #fff;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  
  button:hover, .button:hover {
    background: #2b0f52;
  }
  
  .center-button {
    text-align: center;
    margin: 20px 0;
  }