<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Usuario</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Agregar Usuario</h1>
        
        <form action="/add" method="post">
            <label for="name">Nombre:</label>
            <input type="text" required name="name" id="name">
            
            <label for="email">Correo:</label>
            <input type="email" required name="email" id="email">
            
            <button type="submit">Registrar</button>
        </form>
        <div class="center-button">
            <a href="/" class="btn-volver">Volver a la lista de usuarios</a>
        </div>
        
    </div>
</body>
</html>